
@{
    ViewBag.Title = "ShowExist";
}

<head>
    <link rel="stylesheet" href="~/Content/error.css" />
</head>
<body>Unable to add show, it already exists.</h2>
    @Html.ActionLink(">>Home", "AddShow", "Seller")
    <br />
    <br />
    <div class="link">
        @Html.ActionLink("<<Home", "Index", "Seller");
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

