
@{
    ViewBag.Title = "NoTickets";
}

<h2>NoTickets</h2>
<head>
    <link rel="stylesheet" href="~/Content/error.css" />
</head>
<body>
    <br />
    <br />
    We're sorry, but we don't have that many tickets. Remaining tickets: @ViewBag.seatnumber.
    @Html.ActionLink("<<Back", "BuyFormView", "Buyer")
    <br />
    <br />
    <div class="link">
        @Html.ActionLink(">>Home", "Index", "Buyer");
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
