
@{
    ViewBag.Title = "AddSeller";
}

<head>
    <link rel="stylesheet" href="~/Content/basic.css">
</head>
<body>
    <h2>Add a seller</h2>
    <form action="~/Admin/CreateSeller" method="post" onsubmit="return onRequired()">
        <input placeholder="Username" type="text" name="username" size="50" />
        <br />
        <br />
        <input placeholder="Password" type="password" name="password" size="50" />
        <br />
        <br />
        <input placeholder="Name" type="text" name="name" size="50" />
        <br />
        <br />
        <input placeholder="Last Name" type="text" name="surname" size="50" />
        <br />
        <br />
        <input type="date" name="date" value="2021-01-05" min="1960-01-01" max="2002-12-31" size="30" />
        <br />
        <br />
        <br />
        <input type="submit" value="Add Seller" size="20" />
        <br />
        <br />
        <div class="link">
            @Html.ActionLink(">>Home", "Index", "Admin");
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>
    <br />
    <br />

</body>