
@{
    ViewBag.Title = "SellerCreated";
}

<head>
    <link rel="stylesheet" href="~/Content/Home.css">
</head>
<body>
    <h2>Seller successfully created!</h2>
    <div class="link">
        @Html.ActionLink(">>Home", "Index", "Admin");
    </div>
</body>


