@{
    ViewBag.Title = "Index";
}

<head>

    <link rel="stylesheet" href="~/Content/Home.css">
</head>
<body>

    <br />
    <br />
    <br />
    <br />

    <img id="slika" src="~/Content/concert-ticket.png" />



</body>
