
@{
    ViewBag.Title = "Login";
}
<head>
    <link rel="stylesheet" href="~/Content/basic.css">
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <h1>Have an account already? Log In!</h1>
    <form action="~/Login/Login" method="post" onsubmit="return onRequired()">
        <input placeholder="Username" type="text" name="username" size="70" required />
        <br />
        <br />
        <input placeholder="Password" type="password" name="password" size="70" required />
        <br />
        <br />
        <input type="submit" value="Login" name="Login" size="40" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


    </form>
</body>
