@{
    ViewBag.Title = "UserExist";
}
<head>
    <link rel="stylesheet" href="~/Content/Home.css" />
</head>
<body>
    <h2>User with given username already exists!</h2>
    @Html.ActionLink(">>Try again", "Index", "Register")
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
