@{
    ViewBag.Title = "UserNoExist";
}
<head>
    <link rel="stylesheet" href="~/Content/Home.css" />
</head>
<body>
    <h2>User with given username and password doesn't exist!</h2>
    @Html.ActionLink(">>Try again", "Index", "Login")
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
