@{
    ViewBag.Title = "UserNoExist";
}
<head>
    <link rel="stylesheet" href="~/Content/error.css" />
</head>
<body>
    <h2>User with given username already exists!</h2>
    @Html.ActionLink(">>Try again", "Index", "Login")
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />.......................................................................................
    <img src="~/Content/download.gif" />.......................................................................................
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
